:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* MI ESTILO */

/* ESTILO DE ANIMACION TARJETAS */

/* .custom-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente adaptable */
/*
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  color: black;
  transition: all 0.3s ease;
}

body.bg-light .custom-card {
  background-color: rgba(0, 0, 0, 0.05); /* Fondo suave en modo claro */
/*
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-card:hover {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.4);
  filter: brightness(1.1);
  transform: translateY(-2px);
  border-color: rgba(255, 255, 255, 0.5);
} */

.card-custom {
  background-color: rgba(255, 255, 255, 0.8);
  /* Por defecto, fondo blanco semitransparente */
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  color: black;
  transition: all 0.3s ease;
}

/* Cuando el body tiene clase bg-light (modo claro) */
body.bg-light .card-custom {
  background-color: rgba(0, 0, 0, 0.05);
  /* Fondo suave oscuro */
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
}

/* Cuando el body tiene clase bg-dark (modo oscuro) */
body.bg-dark .card-custom {
  background-color: rgba(255, 255, 255, 0.08);
  /* Fondo claro semitransparente */
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

/* Hover universal */
.card-custom:hover {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.4);
  filter: brightness(1.1);
  transform: translateY(-2px);
  border-color: rgba(255, 255, 255, 0.5);
}









/* para delimitar el footer y el navbar */
.transparent-bg {
  background-color: rgba(0, 0, 0, 0.7); /* oscuro translúcido */
  backdrop-filter: blur(8px);
}

body.bg-light .transparent-bg {
  background-color: rgba(255, 255, 255, 0.7); /* claro translúcido */
}